@model Stack.DBContext.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="navbar navbar-default">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="/categories/index">Categories</a>
                </li>
                <li>
                    <a href="/products/index">Products<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="/carousel/index">Carousel</a>
                </li>
                <li>
                    <a href="/home/change">Change Password</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/home/logout" method="post">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <h2>Details</h2>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImgSrc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImgSrc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>